.autogen
.github
.travis
.vscode
.config
Dockerfile
build/
built/
db/
compose.yaml
compose.yml
docker-compose.yaml
docker-compose.yml
node_modules/
packages/*/node_modules
redis/
files/
misskey-assets/
fluent-emojis/
.pnp.*

# .yarn関連
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnpm-store

.idea/
packages/*/.vscode/
packages/backend/test/compose.yaml
packages/backend/test/compose.yml
packages/backend/test/docker-compose.yaml
packages/backend/test/docker-compose.yml
